<section class="main-content">
	<footer class="site-footer">
		
		<div class="footer-col-wrapper">
		  <div class="footer-col footer-col-1">
			<ul class="contact-list">
				<li><span class="site-footer-credits">杨小定定</span></li>
				<li><span class="site-footer-credits">Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></span></li>
			</ul>
		  </div>

		  <div class="footer-col footer-col-2">
			<ul class="social-media-list">
				{% if site.social_sites.github %}
				<li>
					<svg class="svg-icon"><use xlink:href="/assets/social-icons.svg#github"></use></svg>
					<span class="site-footer-credits"><a href="https://github.com/{{ site.social_sites.github | cgi_escape | escape }}">{{ site.social_sites.github | escape }}</a></span>
				</li>
				{% endif %}
				<li>
					<svg class="svg-icon"><use xlink:href="/assets/social-icons.svg#nc-single-01"></use></svg>
					<span class="site-footer-credits"><a href="/pics/jishuzhilu.jpg">微信公众号：技术之路</a></span>
				</li>
			</ul>
		  </div>

		  <div class="footer-col footer-col-3">
			<ul class="social-media-list">
				<li>
					<svg class="svg-icon-2"><use xlink:href="/assets/social-icons.svg#nc-flag-points-32"></use></svg>
					<span class="site-footer-credits">广东·深圳</span>
				</li>
			</ul>
		  </div>
		</div>

	</footer>
</section>